<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <i class="fa fa-map" aria-hidden="true" style="margin-right:5px;"></i> {{ site.title }}
      </a>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/about">ABOUT</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">MONUMENTS <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/jasenovac">Jasenovac</a></li>
            <li><a href="/kadinjaka">Kadinjaka</a></li>
            <li><a href="/kozara">Kozara</a></li>
            <li><a href="/petrova-gora">Petrova Gora</a></li>
            <li><a href="/tjentiste">Tjentiste</a></li>
            <li><a href="/kosmaj">Kosmaj</a></li>
            <li><a href="/podgaric">Podgaric</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
